<div class="relatorio">
  <header class="navBar">
    <img class="navBarImage" src="../assets/pmerjLogo.png" alt="" />
    <h1 class="navBarTitle">POLÍCIA MILITAR DO ESTADO DO RIO DE JANEIRO</h1>
  </header>

  <h2 class="dadosTitle">AVALIAÇÃO DE DESEMPENHO</h2>
  <hr class="lineDados" width="70%" size="5" />
  <div class="dados">
    <div class="dadosBox1">
      <div class="dadosItem">
        <h3 class="h3Dados">Nome:</h3>
        <input type="text" />
      </div>
      <div class="dadosItem">
        <h3 class="h3Dados">Patente:</h3>
        <input type="text" />
      </div>
      <div class="dadosItem">
        <h3 class="h3Dados">Passaporte:</h3>
        <input type="number" />
      </div>
    </div>
    <hr class="lineItem" width="1" size="130" />

    <div class="dadosBox2">
      <div class="dadosItem">
        <h3 class="h3Dados">Avaliador:</h3>
        <input type="text" />
      </div>
      <div class="dadosItem">
        <h3 class="h3Dados">Patente:</h3>
        <input type="text" />
      </div>
      <div class="dadosItem">
        <h3 class="h3Dados">Passaporte:</h3>
        <input type="number" />
      </div>
    </div>
  </div>

  <div class="tabelaNotas">
    <table style="width: 70%" class="tabela">
      <tr class="menuTabelaAtiv">
        <td class="ativTabela">
          <p
            style="
              font-size: 1.2em;
              color: white;
              padding-left: 10px;
              padding-right: 20%;
              white-space: nowrap;
            "
          >
            AVALIAÇÕES DE ATIVIDADES
          </p>
        </td>
        <td><p style="font-size: 1.2em; color: white">NOTA</p></td>
      </tr>
      <tr class="itemTabelaAtiv">
        <td>
          <p class="ativTabela">Direção defensiva e ofensiva</p>
        </td>
        <td><input class="inputNotas" type="text" /></td>
      </tr>
      <tr class="itemTabelaAtiv">
        <td>
          <p class="ativTabela">Modulação via Maré</p>
        </td>
        <td><input class="inputNotas" type="text" /></td>
      </tr>
      <tr class="itemTabelaAtiv">
        <td>
          <p class="ativTabela">Aptidão para manuseio de armas de fogo</p>
        </td>
        <td><input class="inputNotas" type="text" /></td>
      </tr>
      <tr class="itemTabelaAtiv">
        <td><p class="ativTabela">Conhecimento das normas internas</p></td>
        <td><input class="inputNotas" type="text" /></td>
      </tr>
      <tr class="itemTabelaAtiv">
        <td><p class="ativTabela">Controle emocional sob pressão</p></td>
        <td><input class="inputNotas" type="text" /></td>
      </tr>
    </table>
  </div>

  <div class="notasAdd">
    <h3 class="notasAddTitle">NOTAS ADICIONAIS</h3>
    <hr class="lineDados" width="70%" size="3" />
    <textarea
      class="notasAddTexto"
      cols="50"
      rows="13"
      maxlength="600"
    ></textarea>
  </div>
</div>
